<div class="container mapboxgl-map">
  <h1 class="header">Welcome to your Dashboard, <%= current_user.username %>!</h1>
  <hr>
  <div>
  <h2 class="header">Your restrooms:</h2>
  <ul class="container-fluid">
    <% if @restrooms.empty? %>
      <p>No restrooms created.</p>
    <% else %>
      <% @restrooms.each do |restroom| %>
        <%= link_to restroom_path(restroom), class: "bookmark-button" do %>
          <div class="mb-4 restroom-card" style="max-height: 150px;">
            <% restroom = Restroom.find_by(id: restroom.id) %>
            <div class="d-flex" style="max-height: 150px;">
              <div class="col-md-4">
                <% if restroom.photos.present? %>
                  <%= cl_image_tag restroom.photos.first.key, class: "img-square-wrapper", height: 150, width: 150, crop: :fill %>

                <% else %>
                  <p>No Image Available</p>
                <% end %>
              </div>
              <div class="card-body m-0" style="height: 150px;">
                <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title"><%= restroom.name %></h5>
                </div>
                <% if restroom.reviews.present? %>
                  <% average_rating = restroom.reviews.pluck(:rating).sum / restroom.reviews.count.to_f %>
                  <% average_rating.round.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                <% else %>
                  <p class="card-text">No reviews available.</p>
                <% end %>
                <p class="card-text">
                  <i class="fas fa-euro"></i>
                    <% if restroom.pricing %>
                      <%= restroom.pricing %>
                    <% else %>
                      Free
                    <% end %>
                  </p>
                <div>
                      <% if restroom.accessibility && restroom.baby_friendly %>
                        <div class="d-flex justify-content-between">
                          <div class="align-items-center d-flex">
                            <p class="card-text">
                            <%= image_tag 'disabled.png', alt: 'wheelchair Icon', height:25, width:25 %>
                            </p>
                            <div>
                              <p class="card-text">
                                <%= image_tag 'baby.png', alt: 'Baby Icon', height:25, width:25 %>
                              </p>
                            </div>
                          </div>
                      <% elsif restroom.accessibility %>
                        <p class="card-text">
                            <%= image_tag 'disabled.png', alt: 'wheelchair Icon', height:25, width:25 %>
                        </p>
                      <% elsif restroom.baby_friendly %>
                        <p class="card-text">
                              <%= image_tag 'baby.png', alt: 'Baby Icon', height:25, width:25 %>
                        </p>
                      <% end %>
                    </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
</div>
<hr>
