<div class="container">
  <h1>Welcome to your Dashboard <%= current_user.username %>!</h1>
  <hr>
  <div>
    <h2>Your restrooms:</h2>
    <ul class="container-fluid">
      <% if @restrooms.empty? %>
        <p>No restrooms created.</p>
      <% else %>
        <% @restrooms.each do |restroom| %>
          <div class="card-body">
            <%= link_to restroom.name, restroom_path(restroom) %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>

<hr>

  <div>
    <h2>Your reviews:</h2>
      <ul class="container-fluid">
        <% if @reviews.empty? %>
          <p>No reviews created.</p>
        <% else %>
          <% @reviews.each do |review| %>
            <% restroom = Restroom.find_by(id: review.restroom_id) %>
              <%= link_to restroom_path(restroom) do %>
                <div class="card-body" style="display: flex; align-items: center; height: 190px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);">
                <% if restroom.photo.attached? %>
                  <%= image_tag url_for(restroom.photo), alt: 'Restroom photo', style: 'width: 110px; height: 160px; margin-right: 10px; shadow: ' %>
                <% else %>
                  <p>No photo available</p>
                <% end %>
                <div style="flex: 1; min-width: 0;">
                <h5 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 5px;"><%= restroom.name %></h5>
                <% if review.rating.present? %>
                  <% review.rating.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                <% else %>
                  <p>No rating available</p>
                <% end %>
                <p style="overflow-wrap: break-word; word-wrap: break-word; hyphens: auto; margin-bottom: 0;"><%= review.comment %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        </ul>
      </div>
  </div>
