<div class="container">
  <%= form_with(model: @restroom, local: true, class: 'form') do |form| %>
    <% if @restroom.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@restroom.errors.count, "error") %> prohibited this restroom from being saved:</h2>
        <ul>
          <% @restroom.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group mt-2">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :address %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :pricing %>
      <%= form.text_field :pricing, class: 'form-control' %>
    </div>

    <div class="form-check-inline mt-2">
      <%= form.label :accessibility, "Accessibility" %>
      <%= form.check_box :accessibility %>
    </div>

    <div class="form-check-inline mt-2">
      <%= form.label :baby_friendly, "Baby Friendly" %>
      <%= form.check_box :baby_friendly %>
    </div>

    <div class="form-group mt-2">
      <%= form.label :photo %>
      <%= form.file_field :photo, as: :file, class: 'form-control' %>
    </div>

    <div class="form-actions text-center mt-3">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Cancel', restrooms_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>

