<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
        <div class="mb-4 restroom-card" style="max-height: 150px;">
        <%# <div class="text-end">
          <h5><i class="fa-solid fa-circle-xmark"></i></h5>
        </div> %>
        <%= link_to restroom, class: "bookmark-button no-hover" do %>
            <div class="d-flex" style="height: 150px;">
            <div class="col-md-4">
              <% if restroom.photo.attached? %>
                  <%= cl_image_tag restroom.photo.key, class: 'card-img-top', height: 150, width: 150, crop: :fill %>
                <% elsif restroom.photos.present? %>
                  <%= cl_image_tag restroom.photos.first.key, class: "img-square-wrapper", height: 150, width: 150, crop: :fill %>
                <% else %>
                  <p>No Image Available</p>
                <% end %>
              </div>
                <div class="card-body m-0">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="card-title"><%=  restroom.name  %></h5>
                    
                  </div>
                  <% if restroom.reviews.present? %>
                    <% average_rating = restroom.reviews.pluck(:rating).sum/restroom.reviews.count.to_f %>
                    <% average_rating.round.times do %>
                      <i class="fa-solid fa-star"></i>
                    <% end %>
                  <% else %>
                    <p class="card-text">No reviews available.</p>
                  <% end %>
                  <p class="card-text">
                    <% if restroom.pricing %>
                      <i class="fas fa-euro"></i> <%= restroom.pricing %>
                    <% else %>
                      <div class="d-flex align-items-center">
                        <i class="fas fa-euro"></i>
                        <p class="ml-2 mb-0">Free</p>
                      </div>
                    <% end %></p>
                    <div>
                      <% if restroom.accessibility && restroom.baby_friendly %>
                        <div class="d-flex">
                          <p class="card-text"><i class="fa-solid fa-wheelchair"></i></p><p class="card-text"><i class="fa-solid fa-baby"></i></p>
                        </div>
                      <% elsif restroom.accessibility %>
                        <p class="card-text mr-auto"><i class="fa-solid fa-wheelchair"></i> Accessible</p>
                      <% elsif restroom.baby_friendly %>
                        <p class="card-text"><i class="fa-solid fa-baby"></i> Baby Friendly</p>
                      <% end %>
        <% end %>
                      <div class="text-end">
                        <h1 class="p-0" data-action="click->map#navigation" data-slide-target="routeButton" data-coordinates="<%= [restroom.longitude, restroom.latitude] %>">
                        <i class="fa-solid fa-location-arrow"></i>
                        </h1>
                        
                      </div>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
