<br>
<br>
<br>
<div class="container justify-content-center">
  <div class="restroom-card">
    <div class="image-card">
      <% @restroom.photos.each do |photo| %>
        <%= cl_image_tag photo.key %>
      <% end %>
    </div>

    <div class="card-body">
      <h2 class="card-title show-flexbox"><%= @restroom.name%>
        <% if current_user %>

        <%# <div class="bookmark-section"> %>

          <% bookmark_button_class = @bookmark ? "fa-solid" : "fa-regular" %>
          <%= link_to restroom_bookmark_path(@restroom), class: "bookmark-button" do %>
            <i class="<%= bookmark_button_class %> fa-bookmark"></i>
          <% end %>
      </h2>
        <% end %>

      <br>

        <%# </div> %>
      <div class="show-flexbox">
        <p class="card-text">
        <i class="fas fa-euro"></i> <%= @restroom.pricing %></p>
          <% if @restroom.accessibility %>
            <p class="card-text"><i class="fa-solid fa-wheelchair"></i> Accessible</p>
          <% end %>
          <% if @restroom.baby_friendly %>
            <p class="card-text"><i class="fa-solid fa-baby"></i> Baby Friendly</p>
          <% end %>
      </div>
      <br>
      <p class="card-text">Address: <%= @restroom.address %></p>
    </div>

    <hr>

    <div class="review-section">
      <div class="card-body">
        <div class="review-flexbox">
        <h3>Reviews</h3>
        <%= link_to "See all", restroom_reviews_path(@restroom) %>
        </div>
        <% if @restroom.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this list</em></small>
        <% else %>
          <% @restroom.reviews.order(created_at: :desc).limit(3).each do |review| %>
            <div>
              <% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="card-text mb-0"><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <hr>

    <div class="card-body">
      <div class>
        <h5>Add your review</h5>
        <%= simple_form_for [@restroom, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
          <div class="form-button">
          <%= f.submit class:"button-30" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
