<div class="container justify-content-center">
  <div class="restroom-card">
    <div class="image-card">

      <% if @restroom.photo.attached? %>
        <%= cl_image_tag @restroom.photo.key, class: 'card-img-top', height: 150, width: 150, crop: :fill %>
      <% elsif @restroom.photos.present? %>
        <% @restroom.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
        <% end %>
      <% else %>
        <p>No Image Available</p>
      <% end %>
    </div>

    <div class="card-body">
      <h2 class="card-title show-flexbox">
        <%= @restroom.name%>
        <%= link_to edit_restroom_path(@restroom) do %>
          <i class="fa-regular fa-pen-to-square"></i>
        <% end %>
      </h2>
      <br>

        <%# </div> %>
      <div class="show-flexbox">
        <p class="card-text">
        <% if @restroom.pricing %>
          <i class="fas fa-euro"></i> <%= @restroom.pricing %>
        <% else %>
          <div class="d-flex">
            <i class="fas fa-euro"></i>
            <p class="ml-2 mb-0">Free</p>
          </div>
        <% end %></p>
          <% if @restroom.accessibility %>
            <p class="card-text"><i class="fa-solid fa-wheelchair"></i> Accessible</p>
          <% end %>
          <% if @restroom.baby_friendly %>
            <p class="card-text"><i class="fa-solid fa-baby"></i> Baby Friendly</p>
          <% end %>
      </div>
      <br>
      <p class="card-text">Address: <%= @restroom.address %></p>
      <br>
      <hr>
    </div>
    <div class="card-body d-flex justify-content-around">
      <h2>
      <%# SHOULD LINK TO THE TOILET ON THE MAP %>
        <%= link_to icon('fa-solid', 'diamond-turn-right'), restrooms_path %>
        <% if current_user %>
          <% bookmark_button_class = @bookmark ? "fa-solid" : "fa-regular" %>
          <%= link_to restroom_bookmark_path(@restroom), class: "bookmark-button" do %>
            <i class="<%= bookmark_button_class %> fa-bookmark"></i>
          <% end %>
        <% end %>
      </h2>
    </div>

    <hr>

    <div class="review-section">
      <div class="card-body">
        <div class="review-flexbox">
        <h3>Reviews</h3>
        <%= link_to "See all", restroom_reviews_path(@restroom) %>
        </div>
        <% if @restroom.reviews.empty? %>
          <small><em class="text-muted">Be the first one to review this restroom</em></small>
        <% else %>
          <% @restroom.reviews.order(created_at: :desc).limit(3).each do |review| %>
            <div>
              <% review.rating.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
              <p class="card-text mb-0"><%= review.comment %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>


    <hr>

    <div class="card-body">
      <div class>
        <h5>Add your review</h5>
        <%= simple_form_for [@restroom, @review] do |f| %>
          <%= f.input :comment, placeholder: "Add your review here..." %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, label: false, input_html: { data: { controller: "star-rating" } } %>
          <div class="form-button">
          <%= f.submit class:"button-30" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
