<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'pointer (transparent).png', alt: 'pointer transparent' %>
    <% end %>
    <%= link_to "Restroomie", '/restrooms', class: "navbar-brand custom-font custom-link" %>
     <%#= link_to "Restroomie", '/restrooms', class: "navbar-brand border border-dark p-2 rounded-pill ms-3" %>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <% if user_signed_in? %>
      <span><%= image_tag "user.png", class: "avatar", alt: "dropdown menu" %></span>
    <% else %>
      <span class="navbar-toggler-icon"></span>
    <% end %>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </a>
            <div class="dropdown-menu-end flex-dropdown" aria-labelledby="navbarDropdown">
              <%= link_to "My restrooms", '/dashboard', class: "dropdown-item width-righteous" %>
              <%= link_to "Bookmarks", '/bookmarks', class: "dropdown-item width-righteous" %>
              <%= link_to "Reviews", '/reviews', class: "dropdown-item width-righteous" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item width-righteous" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item flex-dropdown">
            <%= link_to "Login", new_user_session_path, class: "nav-link width-righteous" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
